[Unit]
Description=Pollect service
After=network.target

[Service]
EnvironmentFile=/etc/environment_vars
ExecStart=/opt/actions-runner/_work/planetary-pollect/planetary-pollect/start.sh
WorkingDirectory=/opt/actions-runner/_work/planetary-pollect/planetary-pollect/
Restart=always

[Install]
WantedBy=multi-user.target
